<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>readPassword</id>
            <username>notused</username>
            <password>{[type=keepassxc]https://aserver.test.test.test}</password>
        </server>
        <server>
            <id>readCustomField</id>
            <username>notused</username>
            <password>{[type=keepassxc,select=somethingCustom]https://aserver.test.test.test}</password>
        </server>

        <server>
            <id>filterByUsername1</id>
            <username>notused</username>
            <password>{[type=keepassxc,where:username=user1]https://multiserver.test.test.test}</password>
        </server>
        <server>
            <id>filterByUsername2</id>
            <username>notused</username>
            <password>{[type=keepassxc,where:username=user2]https://multiserver.test.test.test}</password>
        </server>
        <server>
            <id>filterByTitle1</id>
            <username>notused</username>
            <password>{[type=keepassxc,where:title=multiserver1]https://multiserver.test.test.test}</password>
        </server>
        <server>
            <id>filterByTitle3</id>
            <username>notused</username>
            <password>{[type=keepassxc,where:title=multiserver3]https://multiserver.test.test.test}</password>
        </server>
        <server>
            <id>filterByCustomField1</id>
            <username>notused</username>
            <password>{[type=keepassxc,where:myCustom=v1]https://multiserver.test.test.test}</password>
        </server>
        <server>
            <id>filterByCustomField2</id>
            <username>notused</username>
            <password>{[type=keepassxc,where:myCustom=v2]https://multiserver.test.test.test}</password>
        </server>

        <server>
            <id>theFileServer</id>
            <username>theuser</username>
            <password>{[type=keepassxc]https://aserver.test.test.test}</password>
        </server>

        <server>
            <id>keepassxc-security-test-repo</id>
            <username>theuser</username>
            <password>{[type=keepassxc]https://aserver.test.test.test}</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>it-repo</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>local.central</id>
                    <url>@localRepositoryUrl@</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>local.central</id>
                    <url>@localRepositoryUrl@</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>
